<div class="column is-4">
  <article class='panel is-danger'>
    <h4 class="panel-heading is-info">Invites</h4>
    <div class="box is-center">
      <article class="media">
        <div class="media-content">  
          <div class="content">
            <% current_user.invites.each do | invite |%>
              <%= Event.find(invite.event_id).name %>
              <%= link_to 'View', event_path(invite.event_id) %>
              <%= link_to 'Attend', create_attending_path(:attendee_id=> current_user.id, :attended_event_id=> invite.event_id), 
                                data: { turbo_method: "post" }, class: 'button' %>
              <%= link_to 'Clear invite', event_destroy_invite_path(:event_id=> invite.event_id, :invitee_id=> current_user.id), 
                            data: { turbo_method: "delete" }, class: 'button rescind' %><br />
            <% end %>
          </div>   
        </div>
      </article>
    </div>  
  </div> 
</article>