
    <div class="columns">
      <div class="column is-full">
        <article class="panel">
          <p class="panel-heading">Send Invites</p>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                <% User.all.order('username Asc').each do | user |%>
                  <div class="box box-flex">
                    <div>
                    <p><strong>@<%= user.username %></strong> - <%= user.email %></p>
                    <%= link_to 'Invite', event_create_invite_path(:event_id => @event.id, :invitee_id=> user.id), 
                        data: { turbo_method: "post" }, class: 'button invite' %>
                    <%= link_to 'Rescind', event_destroy_invite_path(:event_id => @event.id, :invitee_id=> user.id), 
                        data: { turbo_method: "delete" }, class: 'button invite' %>
                    </div>
                    <div>
                    <p>Status: Pending</p>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
            </article>
          </div>
        </article>
      </div>
    </div>

