
    <div class="columns">
      <div class="column is-full">
        <article class="panel">
          <p class="panel-heading">Send Invites</p>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                <% User.all.order('username Asc').each do | user |%>
                  <div class="box box-flex">
                    <div>
                      <p><strong>@<%= user.username %></strong> - <%= user.email %></p>
                      
                      <% if Invite.where(event_id: @event.id, invitee_id: user.id).exists? %>
                        <%= link_to 'Rescind', event_destroy_invite_path(:event_id=> @event.id, :invitee_id=> user.id), 
                            data: { turbo_method: "delete" }, class: 'button rescind' %>
                      <% else %>
                        <%= link_to 'Invite', event_create_invite_path(:event_id => @event.id, :invitee_id=> user.id, :inviter_id=> current_user.id), 
                            data: { turbo_method: "post" }, class: 'button' %>
                      <% end %>
                    </div>
                    <div>
                      <% if Invite.where(event_id: @event.id, invitee_id: user.id).exists? %>
                        <p>Status: Pending</p>
                      <% elsif %>
                        <% Attending.where(attended_event_id: @event.id,
                                              attendee_id: user.id).exists? %>
                          <p>Status: Attending</p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                </div>
              </div>
            </article>
          </div>
        </article>
      </div>
    </div>

