<div class="column is-one-quarter">
  <h3 class="title is-3">Past Events</h3>
  <nav class="panel">
    <% @events.each do | event |%>
      <div class="panel-block">
        <p><%= event.date.strftime("%B")[0,3] %> &nbsp;</p>
        <p><%= event.date.year %> &nbsp; &nbsp;</p>
        <p> <%= link_to event.name, event %></p> 
      </div>
    <% end %>
  </nav>
</div>

<%# Need to make this only point to past events using scope %>
      
  
